.App {
  display: flex;
  flex-direction: column;
  margin-bottom: 40pt;
  align-items: center;
}
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.Recipe-header {
  font-size: 2em;
  display: flex;
  flex-direction: row;
}

.Recipes {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  max-width: 500pt;
}

.appLogo {
  width: 80pt;
}